* {
  font-family: Verdana,Geneva,sans-serif; 
}
body{
	margin: 0;
	padding: 0 !important;
}
.main{
	transition: margin-left 0.3s;
	padding: 0;
}

.menu{
	font-size: 30px;
	cursor: pointer;
	display: none;
}
.colorHeader{
	
	background-color: #67F0BB;
}
.colorFooter{
	background-color: #023838;
}
.modelcontentA{
	border-radius: 2rem !important;
}
.modelcontentB{
	border-top-left-radius: calc(2rem - 1px) !important;
    border-top-right-radius: calc(2rem - 1px) !important;
}
.modelcontentC{
    border-bottom-right-radius: calc(2rem - 1px) !important;
    border-bottom-left-radius: calc(2rem - 1px) !important;
}
.modelcontentC{
	padding: 0 !important;
}
.colorArangio{
	background-color: #FA8F6C !important;
}
#cartIcon{
	font-size: 190%;
}
	
#openEyePassword{
	display: none;
}
#openEyePassword2{
	display: none;
}
.cerca {
  	border: none;
  	font-size: 16px;
  	background-image: url('img/search.svg');
 	background-position: right; 
  	background-repeat: no-repeat;
  	background-size: 30px;
  	padding-top:7px;
  	padding-bottom:7px;
	width: 30px;
	position: relative;
	text-align: center;
	color: black;
	cursor: pointer;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;	
	background-color: transparent;
    right: 0;
}

.cerca:focus {
	box-sizing: border-box;
  	border: 2px solid black;
  	border-radius: 100px;
	width: 100%;
	position: static;
	outline: none;
}

/* The Modal (background) */
.modal1 {
  	display: none; /* Hidden by default */
  	position: fixed; /* Stay in place */
  	z-index: 999999999; 
  	left: 0;
  	top: 0;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */
  	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  	padding-top: 60px;
}

/* Modal Content/Box */
.modal-content1 {
	background-color: #fefefe;
  	position: absolute;
  	top: 30%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	background: white;
  	border-radius: 1em;
  	box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
	align-items: center;
 	justify-content: center;
  	overflow: hidden;
  	background-color: #fefefe;
  	margin: 10% auto; /* 15% from the top and centered */
  	border: 1% solid #888;
  	width: 70%; /* Could be more or less, depending on screen size */
	height: 80%;
}

.logInTitle{
	font-size: 2em;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.divLogIn form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_fieldLogIn{
  	position: relative;
  	border-bottom: 2px solid #adadad;
  	margin: 30px 0;
    width: 70%;
    left: 15%;
}

form .wrap-LogInBtn{
	position: relative;
    left: 20%;
}
.txt_fieldLogIn input{
  width: 80%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_fieldLogIn label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_fieldLogIn span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #67F0BB;
  transition: .5s;
}
.txt_fieldLogIn input:focus ~ label,
.txt_fieldLogIn input:valid ~ label{
  top: -5px;
  color: #67F0BB;
}
.txt_fieldLogIn input:focus ~ span::before,
.txt_fieldLogIn input:valid ~ span::before{
  width: 100%;
}
.forgotPswLogIn{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.forgotPswLogIn:hover{
  text-decoration: underline;
}
#logInForm input[type="submit"]{
  width: 60%;
  height: 50px;
  border: 1px solid;
  background: #67F0BB;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
#logInForm input[type="submit"]:hover{
  border-color: #67F0BB;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #67F0BB;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}

.showPswLogIn{
 	display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  	position: absolute;
  	right: 1em;
  	color: #000;
  	font-size: 35px;
  	font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.alertMod{
	z-index: 2000;
}


@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.dropDownNav{
	float: left;
  	overflow: hidden;
}

.itemTitle{
	font-size: 1em
}

.itemListing{
	display: grid;
 	grid-template-columns: auto auto auto;
 	justify-content: space-evenly;
 	align-content: center;

}

.itemCard {
  width: 360px;
  padding: 15px;
  margin: 15px auto;
  background-color: #fff;
}

/*@media (max-width: 991px) {
  .itemCard {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .itemCard {
    width: 290px;
    margin: 30px auto;
  }
}*/

.itemCard:hover .h-bg {
  left: 0px;
}

.itemCard:hover .itemCardPrice {
  left: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #818181;
}

.itemCard:hover .itemCardAddCart {
  left: 50%;
}

.itemCard:hover .itemCardImg {
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
  opacity: 0.4;
}

.itemCard:hover .itemCardImgInfoInner {
  bottom: 155px;
}

.itemCard:hover .a-size {
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
  bottom: 50px;
  opacity: 1;
}

.itemCard .box-down {
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.itemCard .box-up {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.itemCard .img {
  padding: 20px 0;
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
}

.h-bg {
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  width: 660px;
  height: 100%;
  background-color: #67F0BB;
  position: absolute;
  left: -659px;
}

.h-bg .h-bg-inner {
  width: 50%;
  height: 100%;
  background-color: #023838;
}

.itemCardImgInfoInner {
  -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: 25px;
}

.itemCardImgInfoInner .itemCardProductName {
  display: block;
}

.itemCardImgInfoInner .itemCardProductName {
  font-size: 1.3em;
  color: #252525;
}

.itemCardCart {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-weight: 700;
}

.itemCardImgInfoInner .itemCardProductName  a{
	font-weight: bolder;
	color: #023838;
	text-decoration: none;
}

.itemCardImgInfoInner .itemCardProductName  a:hover {
	color: rgba(250,143,108,1);
	font-weight: bolder;
}

.itemCardCart .itemCardPrice {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #252525;
}

.itemCardCart .itemCardAddCart {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 110%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.itemCardCart .itemCardAddCart .itemCardAddCartText {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  white-space: nowrap;
}

.logo{
	grid-column: 2 ;
	display: inline-block;
	text-align: center;
}

.logo img {
	cursor: pointer;
}

#headerContainer{
	display: grid;
	grid-template-columns: 25% 50% 25%; 
  	background: rgb(103,240,187);
	background: linear-gradient(0deg, rgba(103,240,187,1) 10%, rgba(9,121,116,1) 95%);
	margin-bottom: 0;
}	
/*da modificare*/
ul { padding:0 !important} 

.menuBar {
	display: flex;
  	justify-content: center;
  	align-items: center;
	margin-top: 0;
	background-color: #67f0bb;
	color: #023838;
	height: 3em;
}
.ulMenu {
	display: flex;
  	justify-content: center;
 	align-items: center;
	margin-top: 0;
	background-color: #67f0bb;
	list-style-type: none;
	color: #023838;
}

.headerUserList {
	padding: 0% 0% 0% 0% !important;
}

.ulMenu li{
	list-style-type: none;
	display: inline !important;
	color: #023838;
}

.ulMenu ul{
	padding: 0% 0% 0% 0%;
}

.ulMenu2 li{
	padding: 0% 0% 0% 0% ;
	list-style-type: none;
	display: list-item !important;
	color: #023838;
}
.menuMobile{
	display: none;
}

.dropDown {
  	position: relative;
  	list-style-type: none;
  	display: inline-block;
}

.dropDown ul{
	padding: 0 !important; 
}

.dropDownNavContent{
	font-weight: bolder;
	display: none;
 	position: absolute;
 	background-color: #67F0BB;
  	min-width: 10em;
 	box-shadow: 0 0,5em 1em 0 rgba(0,0,0,0.1);
  	z-index: 1;
}

.dropDownNav a{
	
	float: none;
  	padding: 3% 5%;
  	text-decoration: none;
 	display: block;
 	text-align: center;
}

.dropDownNav:hover .dropDownNavContent {
  display: block;
}
.menuDrop2 {
	list-style-type: none;
	background-color: #67F0BB;
  	display: none;
  	position: absolute;
  	text-align: left;
  	min-width: 10em;
  	box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
  	z-index: 1;
  	right: 0;
}

.menuDropBar2 ul{
	padding: 0 !important;
}
.menuDrop3 {
	list-style-type: none;
	background-color: #67F0BB;
  	display: none;
  	position: absolute;
  	text-align: left;
  	min-width: 10em;
  	box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
  	z-index: 1;
  	right: 0;
}

.user{
	grid-row: 1;
	grid-column: 3;
	padding-right: 0;
	text-align: right;
	justify-content: flex-end;
	align-items: center;
	display: flex;

}

#userIcon{
	justify-content: center;
	font-size: 200%;
}

#searchIcon{
	font-size: 200%;
}
	
.searchTab{
	display: inline !important;
}
.searchBtn{
	display: none !important;
}

.menuBar{
		margin-top: 0;
		display: block;
}
.headerBtn{
	background-color: transparent;
	font-size: large;
	border: none;
	color: #023838;
	font-family: inherit;
  	margin: 0;
}

button:hover{
	cursor: pointer;
}

.headerBtn:hover {
	background-color: #B1F2D9;
}

#homeButton:hover {
	background-color: #B1F2D9;
}

.show{
	display: none;
}

.itemCardCart:hover .show{
	display: block;
}

.notShow {
	display: none;
}
.navFooter{
	background-color: #023838;
	color:white;
	text-align: center;
	line-height: 120%;
}
.navFooterBlock{
	align-content: center;
	padding: 1% 1% 0% 1%;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	list-style-type: none;
}

.navFooterList{
	align-content: center;
	padding: 0% 0% 0% 0%;
	text-align:center;
	list-style-type: none;
}

.navFooterTitleList{
	font-size:120%;
	vertical-align: inherit;
	text-align: inherit;
}

.navFooter a:link{
	text-decoration: none;
    color:#67F0BB;
}
.navFooter a:visited{
	text-decoration: none;
    color:#67F0BB;
}
.navFooter a:hover{
	text-decoration: underline;
    color:#B1F2D9;
}


#socialIcons{
	align-content: center;
}
#socialIconsList{

	padding: 1% 1% 1% 1%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	list-style-type: none;
}

#socialIconsList li{
	padding: 1% 0.4% 1% 0.4%;
	display: inline-block;
}
#facebookIcon{
	color: white;
	font-size: 250%;
}

#instagramIcon{
	color: white;
	font-size: 250%;
}
.belowNavFooter{
	height: 1.9em;
	display: flex;
	text-align: center;
  	align-items: center;
  	justify-content: center;
}

.searchBarItem{
	display: inline-block;
	height: 2em;
}
#errorQ{
	color: red;
	display: none;
}

.slideShowConteiner {
  	max-width: 1000px;
  	position: relative;
  	margin: auto;
}

.slide {
  	display: none;
}

.prev, .next {
  	cursor: pointer;
 	position: absolute;
  	top: 50%;
  	width: auto;
  	margin-top: -22px;
  	padding: 16px;
  	color: #67F0BB;
  	font-weight: bold;
  	font-size: 30px;
  	transition: 0.6s ease;
  	border-radius: 0 3px 3px 0;
  	user-select: none;
}

.next {
  	right: 0;
  	border-radius: 3px 0 0 3px;
}

.dot {
  	cursor: pointer;
  	height: 15px;
  	width: 15px;
  	margin: 0 2px;
  	background-color: #bbb;
  	border-radius: 50%;
  	display: inline-block;
 	transition: background-color 0.6s ease;
}

.active, .dot:hover {
  	background-color: #717171;
}

.fade {
  	-webkit-animation-name: fade;
  	-webkit-animation-duration: 1.5s;
  	animation-name: fade;
  	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  	from {opacity: .4}
  	to {opacity: 1}
}

@keyframes fade {
  	from {opacity: .4}
  	to {opacity: 1}
}

.prev:hover, .next:hover {
  	background-color: rgba(0,0,0,0.8);
}

.info{
	display: grid;
  	grid-template-columns: 33% 33% 33%;
  	background: linear-gradient(rgba(250,143,108,1),rgba(250,143,108,0.4));
	padding-left: 10%;
	padding-right: 10%;
}

.infodiv{
	margin: 1%;
	text-align: center;
}
.contenerSuperiore{
	display: grid;
  	grid-template-columns: 70% 30%;
  	padding-left: 10%;
	padding-right: 10%
}
.titoloItem{
	text-align: center;
}

 .bootstrap-tagsinput{
	width: 100%;
}
.label-info{
	background-color: #17a2b8;
}
.label {
	display: inline-block;
	padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#headerMenuIconDiv{
		grid-column-start: 1;
  		grid-column-end: 2;
}

.menuDrop{
	display: none;
}

.twitter-typeahead { 
	display:initial !important; 
}

.tt-hint {
	display: none;
}

.tt-input{
	vertical-align:baseline !important;
}

.typeahead {
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	padding: 8px 12px;
	width: 300px;
	font-size:1.5em;
}

.tt-menu { 
	width:300px; 
}

span.twitter-typeahead .tt-suggestion {
	padding: 10px 20px; 
	background-color: white;
	cursor:pointer;
}

span.twitter-typeahead .tt-suggestion:last-child { 
	border-bottom:0px; 
}
@media screen and (max-width: 1024px){
	.menuDrop {
	display: block;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #023838;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align: center;
  	color: #67F0BB;	
	}

	.menuDrop a{
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #67F0BB;
		display: block;
	}

.menuDrop a:hover{
		color: white;
	}

	.menuDrop .closebtn{
  		position: absolute;
  		top: 0;
  		right: 25px;
  		font-size: 36px;
  		margin-left: 50px;
	}
	
	.modal-content1{
		top: 40%;
		width: 80%;
		height: 70%;
		}
	
	.close {
  	/* Position it in the top right corner outside of the modal */
  		position: absolute;
  		top: 4.5em;
  		right: 3.5em;
  		color: #000;
  		font-size: 35px;
  		font-weight: bold;
	}

	#headerMenuIconDiv{
		grid-column-start: 1;
  		grid-column-end: 2;
		padding-left: 3%;
		justify-content: flex-start;
		display: inline-flex;
		align-items: center;
	}
	.menu{
		display: block;
	}
	.menuMobile{
		display: inline-block;
	}
	.searchTab{
		display: none !important;
	}
	.searchBtn{
		display: inline-block !important;
	}
	.menuBar{
		display: none;
	}
	.ulMenu li{
		display: list-item !important;
	}
	.navFooterBlock {
		display: list-item;
		text-align: center;
	}
	.navFooterList{
		text-align: center;
	}
	#socialIconsList{
		text-align: center;
		font-size: 200%;
	}
	
	#headerContainer{
		display: grid;
		grid-template-columns: auto auto auto; 
		grid-template-rows: auto auto;
	}
	.logo{
		grid-column-start: 1;
  		grid-column-end: 4;
	}
	
	.user{
		grid-row: 2;
		grid-column: 3;
		text-align: right;
		justify-content: flex-end;
		display: inline-flex;
		align-items: center;
	}

	#userIcon{
		font-size: 200%;
	}
	
	#cartIcon{
		font-size: 190%;
	}
	
	#searchIcon{
		font-size: 200%;
	}
	.searchBarItem{
		display: none !important;
	}
	.itemListing{
 		grid-template-columns: auto;
 		align-items: stretch;
	}

	.itemCard{
		flex:1;
	}
	
	.info{
		display: block;
	}
	.insertItem{
		display: block;
	}
}
@media screen and (max-width: 480px) {
	.modal-content1{
		left: 50%;
		top: 40%;
		width: 70%;
		height: 70%;
		overflow: auto;
		}
	.itemListing{
 		grid-template-columns: auto ;
 		align-items: stretch;
	}
	.itemCard{
		width: 250px;
	}
	.info{
		display: block;
	}
	
}
@media screen and (max-height: 450px) {
	.itemCard{
		width: 250px;
	}
	.modal-content1{
		top: 25%;
		width: 90%;
		height: 70%;
		overflow: scroll;
		}
		
	.itemListing{
 		grid-template-columns: auto ;
 		align-items: stretch;
	}
  	.menuDrop {
  		padding-top: 0.2em;
  	}
  	.menuDrop a {
  		font-size: 0.2em;
  	}
}