/*funzionanti*/
* {
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
}
body{
	margin: 0;
}
.border{
	box-sizing: border-box;
  	border: 5px solid white;
  	border-radius: 4px;
}
.menuDrop {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #FA8F6C;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align: center;
  	color: white;	
}

.menuDrop a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: black;
	display: block;
	transition: 0.3;
}

.menuDrop a:hover{
	color: white;
}

.menuDrop .closebtn{
  	position: absolute;
  	top: 0;
  	right: 25px;
  	font-size: 36px;
  	margin-left: 50px;
}

.menu{
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.cerca {
  	box-sizing: border-box;
  	border: 5px solid white;
  	border-radius: 4px;
  	font-size: 16px;
  	background-color: #FA8F6C;
  	background-image: url('img/search.svg');
 	background-position: right; 
  	background-repeat: no-repeat;
  	padding: 12px 20px 12px 40px;
	width: 50%;
	position: relative;
	text-align: center;
	color: white;	
}

.cerca:focus {
	z-index: 1;
	width: 25%;
	right: 0;
	position: absolute;
}

.logo{
	display: inline-block;
	text-align: center;
}

.logo img {
	cursor: pointer;
}
/*da modificare*/
ul { padding:0 !important} 
header{
	background-color: #67F0BB;
	margin-bottom: 0;
}

#headerContainer{
	display: grid;
  	grid-template-columns: 25% 50% 25%;
}	

nav{
	margin-top: 0;
	background-color: #67F0BB;
	color: #023838;
}
nav ul{
	margin-top: 0;
	background-color: #67F0BB;
	list-style-type: none;
	color: #023838;
}

.headerUserList {
	padding: 0% 0% 0% 0% !important;
}

.ulMenu li{
	list-style-type: none;
	display: inline !important;
	color: #023838;
}

.ulMenu ul{
	padding: 0% 0% 0% 0%;
}

.ulMenu2 li{
	padding: 0% 0% 0% 0% ;
	list-style-type: none;
	display: list-item !important;
	color: #023838;
}
.menuMobile{
	display: none;
}
.dropDown {
  	position: relative;
  	list-style-type: none;
  	display: inline-block;
}

.dropDown ul{
	padding: 0 !important; 
}
.menuDrop2 {
	list-style-type: none;
	background-color: #67F0BB;
  	display: none;
  	position: absolute;
  	text-align: left;
  	min-width: 10em;
  	box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
  	z-index: 1;
  	right: 0;
}

.menuDropBar2 ul{
	padding: 0 !important;
}
.menuDrop3 {
	list-style-type: none;
	background-color: #67F0BB;
  	display: none;
  	position: absolute;
  	text-align: left;
  	min-width: 10em;
  	box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
  	z-index: 1;
  	right: 0;
}

.user{
	padding-right: 0;
	text-align: right;
	justify-content: flex-end;
	display: flex;
}

#userIcon{
	justify-content: center;
	font-size: 200%;
}

#searchIcon{
	font-size: 200%;
}
	
.searchTab{
	display: inline !important;
}
.searchBtn{
	display: none !important;
}
#afterHomeBtn{
	position: relative;
}
.menuBar{
		margin-top: 0;
		display: block;
}
.headerBtn{
	background-color: #67F0BB;
	font-size: large;
	border: none;
	color: #023838;
}
button:hover{
	cursor: pointer;
}

.headerBtn:hover {
	background-color: #B1F2D9;
}

#homeButton:hover {
	background-color: #B1F2D9;
}

.show{
	display: none;
}

.cart:hover .show{
	display: block;
}

.notShow {
	display: none;
}
.navFooter{
	background-color: #023838;
	color:white;
	text-align: center;
	line-height: 120%;
}
.navFooterBlock{
	align-content: center;
	padding: 1% 1% 0% 1%;
	vertical-align: top;
	display: inline-block;
	text-align: center;
}

.navFooterList{
	align-content: center;
	padding: 0% 0% 0% 0%;
	text-align:center;
	list-style-type: none;
}

.navFooterTitleList{
	font-size:120%;
	vertical-align: inherit;
	text-align: inherit;
}

a:link{
	text-decoration: none;
    color:#67F0BB;
}
a:visited{
	text-decoration: none;
    color:#67F0BB;
}
a:hover{
	text-decoration: underline;
    color:#B1F2D9;
}
#socialIcons{
	align-content: right;
}
#socialIconsList{

	padding: 1% 1% 1% 1%;
	align-items: right;
	width: auto;
	text-align: right;
	list-style-type: none;
}

#socialIconsList li{
	display: inline-block;
}

#facebookIcon{
	color: white;
	font-size: 175%;
}

#instagramIcon{
	color: white;
	font-size: 175%;
}
.belowNavFooter{
	height: 1.9em;
	display: flex;
	text-align: center;
  	align-items: center;
  	justify-content: center;
}

.searchBarItem{
	display: inline-block;
	height: 2em;
}
#errorQ{
	color: red;
	display: none;
}
@media screen and (max-width: 992px){
	.cerca:focus {
		z-index: 1;
		width: 50%;
		right: 0;
		position: absolute;
	}
	.menu{
		display: block;
	}
	.menuMobile{
		display: inline-block;
	}
	.searchTab{
		display: none !important;
	}
	.searchBtn{
		display: inline-block !important;
	}
	.menuBar{
		display: none;
	}
	.ulMenu li{
		display: list-item !important;
	}
	.navFooterBlock {
		display: list-item;
		text-align: center;
	}
	.navFooterList{
		text-align: center;
	}
	#socialIconsList{
		text-align: center;
		font-size: 200%;
	}
	.user{
		text-align: right;
		justify-content: flex-end;
		display: inline-flex;
	}

	#userIcon{
		font-size: 200%;
	}

	#searchIcon{
		font-size: 200%;
	}
	.searchBarItem{
		display: none !important;
	}
}
@media screen and (max-width: 480px) {
	.cerca:focus {
		z-index: 1;
		width: 100%;
		right: 0;
		position: absolute;
	}
}
@media screen and (max-height: 450px) {
  	.menuDrop {
  		padding-top: 15px;
  	}
  	.menuDrop a {
  		font-size: 18px;
  	}
}