@charset "ISO-8859-1";

* {
  box-sizing: border-box;
}
nav{
	background-color: #67F0BB;
	color: #023838;
}
nav ul{
	background-color: #67F0BB;
	list-style-type: none;
	color: #023838;
}

.ulmenu li{
	display: inline !important;
	color: #023838;
}
.navbar{
	height: 30px;
}
.menumobile{
	float: left;
	display: none;
}
.logo{
	left: 50%;
	display: inline-block;
	position: relative;
}
.user{
	float: right;
}
.searchtab{
	display: inline !important;
}
.searchbutton{
	display: none !important;
}
#afterhomebtn{
	position: relative;
}
.nemubar{
		display: block;
}
.headerBtn{
	background-color: #67F0BB;
	font-size: large;
	font-family : cursive;
	border: none;
	color: #023838;
}

#homeButton{
	background-color: #67F0BB;
	font-size: x-large;
	border: none;
	color: #023838;
}

button:hover{
	cursor: pointer;
}

.headerBtn:hover {
	background-color: #B1F2D9;
}

#homeButton:hover {
	background-color: #B1F2D9;
}

.show{
	display: none;
}

.cart:hover .show{
	display: block;
}

.notShow {
	display: none;
}
.navFooter{
	background-color: #023838;
	color:white;
	text-align: center;
	line-height: 20px;
}
.navFooterBlock{
	padding: 1% 1% 0% 1%;
	vertical-align: top;
	display: inline-block;
	text-align: left;
}

.navFooterList{
	padding: 0% 0% 0% 0%;
	text-align:left;
	list-style-type: none;
}

.navFooterTitleList{
	font-size:120%;
	vertical-align: inherit;
	text-align: inherit;
}

a:link{
	text-decoration: none;
    color:#67F0BB;
}
a:visited{
	text-decoration: none;
    color:#67F0BB;
}
a:hover{
	text-decoration: underline;
    color:#B1F2D9;
}
#socialIcons{
	align-content: right;
}
#socialIconsList{

	padding: 1% 1% 1% 1%;
	align-items: right;
	width: auto;
	text-align: right;
	list-style-type: none;
}

#socialIconsList li{
	display: inline;
}

#facebookIcon{
	color: white;
	font-size: 175%;
}

#instagramIcon{
	color: white;
	font-size: 175%;
}
.belowNavFooter{
	text-align: center;
}

@media screen and (max-width: 992px){
	.menumobile{
		display: inline-block;
	}
	.searchtab{
		display: none !important;
	}
	.searchbutton{
		display: inline-block !important;
	}
	.nemubar{
		display: none;
	}
	.ulmenu li{
		display: list-item !important;
	}
	.navFooterBlock {
		display: list-item;
		text-align: center;
	}
	.navFooterList{
		text-align: center;
	}
}